<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>UILaunchStoryboardName</key>
	<string>LaunchScreen</string>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeRole</key>
			<string></string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>fotolokashen</string>
			</array>
		</dict>
	</array>
	<key>GMSApiKey</key>
	<string>AIzaSyCyODwXXqCiorqErn9bVofWhYtmknwQ3n8</string>
	<key>NSPhotoLibraryAddUsageDescription</key>
	<string>Fotolokashen would like to save photos to your photo library so you can access them later.</string>
</dict>
</plist>
